
/*.tab-header {*/
/*    width: 20%;*/
/*    border: none;*/
/*    background-color: #555;*/
/*    padding: 15px 15px;*/
/*    margin: 0;*/
/*}*/

/*body{*/
/*    background-color: lightblue;*/
/*    font-family: sans-serif;*/
/*    !*box-sizing: content-box;*!*/
/*    width: 80%;*/
/*    border: solid #5B6DCD 10px;*/
/*    padding: 5px;*/
/*    margin:0px 0px 0px 0px;*/
/*}*/

/*section {*/
/*    display: flex;*/
/*}*/

#tabcontent {
    font-size: 0;
}

.tab-header {
    width: 20%;
    border: none;
    background-color: #555;
    padding: 15px 15px;
    margin: 0;
}